<h1>Books</h1>

<div class ="index_head">
    <th>Title</th>
    <th>Opinion</th>
</div>


<%= @books.each do |book| %>
 <%= book.title %>
 <%= book.body %>
  <%= link_to "show", book_path(book.id) %>
<% end %>
