<p id="notice"></p>

<div class="container">
  <div class="row">
    <div class="col-lg-10 mx-auto">
      <h1 class="text-center my-4">Welcome to <i class="fa-solid fa-book"></i> <strong>Bookers</strong>!</h1>
      
      <p class="lead">At <strong>Bookers</strong>, we believe that books have the power to inspire, educate, and entertain. Our platform allows you to share your thoughts and opinions on the books you've read, and discover what others are saying about their favorite reads.</p>

      <h2 class="mt-4">What You Can Do on Bookers</h2>
      <ul class="list-unstyled">
        <li><i class="fa-solid fa-pencil-alt"></i> <strong>Write Reviews:</strong> Share your thoughts on the books you've read. Whether you loved it or had some criticisms, your insights can help others find their next great read.</li>
      </ul>

      <h2 class="mt-4">Why We Created Bookers</h2>
      <p>We created Bookers because we love books and believe in the importance of sharing knowledge and perspectives. Our goal is to create a community where book lovers can come together to share their experiences and help each other discover new and exciting reads.</p>

      <h2 class="mt-4">Join Us</h2>
      <p>If you're passionate about books, we invite you to join our community. Sign up, start reviewing, and become a part of the Bookers family!</p>
      
      <p class="text-center mt-5"><a href="/users/sign_up" class="btn btn-primary btn-lg">Join Bookers Today</a></p>
    </div>
  </div>
</div>
